/*Màn hình Ipad*/
@media only screen and (max-width: 768px){
    .info-title {
        width: 100%;
        font-size: 12px;
    }
}

*{
    padding: 0;
    margin: 0;
}

.pro_1 a {
    margin-left: -42px;
}

.ft3 {margin-left: 35%!important;}

span.ft2 {
    color: #908686;
    margin-left: 31%;
}

img.img-main {margin-left: 39%;}

.recent-post .post_1 span {
    padding-top: 10px;
    padding-left: 20px;
}

.recent-post .post_1 {
    color: #7e7e7e;
    display: flex;
}

.infomation ul li {
    color: #7e7e7e;
    list-style: none;
    padding-bottom: 7px;
}

ul.contact li i {
    /* width: 20px; */
    padding: 10px;
    border: 1px solid transparent;
    text-align: center;
    background-color: #434343;
    margin-left: 10px;
}

ul.contact li {
    list-style: none;
    color: #eaeaea;
}

ul.contact {
    display: flex;
}

.footer .about div span {
    color: #7e7e7e;
}

.footer .about div {
    color: #e4e4e4;
    padding-bottom: 12px;
}

.footer h4 {
    color: #e4e4e4;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.footer {
    padding-top: 30px;
    background-color: #383838;
}

.read {
    margin-bottom: 10px;
}

.cont .read img {
    float: right;
    margin-top: -5px;
    width: 30px;
    height: 30px;
}

.cont .read a {
    padding-left: 20px;
    color: #808080;
}

.cont p {
    padding-left: 20px;
    color: #857b7b;
}

.cont h4 {
    font-size: 17px;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
}

.new_1.block_3 img {
    margin-top: -3px;
}

.new_1.block_3 .cont {
    width: 389px;
    height: 169px;
}

.new_1 .cont {
    width: 367px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin-left: 4px;
    margin-top: -11px;
    padding-right: 18px;
}

.new_1>img {
    width: 394px;
}

.new_1 {
    margin-left: -11px;
}

.pro-lastest .right {
    float: right;
    margin-right: -41px;
}

.pro-lastest .left {
    margin-left: -11px;
}

img.pro-new {
    width: 550px;
    /* float: right; */
    margin-left: -75px;
}

img.pro-sale {
    width: 550px;
    float: left;
}

img.newletter {
    height: 219px;
}

.product_1 img.anh {
    margin-top: 2px;
    width: 99px;
    height: 140px;
}

.list-product, .special_products .product_1>.info-pro {margin-top: 0px;}

.product_1>img {
    width: 100px;
    height: 150px;
    padding-bottom: 12px;
}

.special_products .pro_1 img {
    width: 250px;
    height: 302px;
}

.special_products>h4:after {content: "";top: 0;left: 0;background-color: #e8e8e8;width: 1px;height: 1px;position: absolute;display: block;}

.special_products h4 {
    text-align: center;
    margin: 16px 0;
}

img.handbag, img.newletter {
    margin-left: 17px;
    width: 836px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pro_1 .info-pro img.rate {
    height: 38px;
    width: 68px;
    margin-top: -14px;
    margin-right: -7px;
    margin-bottom: 20px;
}

.pro_1 .info-pro {text-align: center;}

.pro_1 a img {width: 177px;height: 225px;}

.list-product i.fa.fa-angle-left {
    margin-top: 14px;
}

a:hover {
    text-decoration: none;
}

.list-product a.feature {margin-top: 20px;}

.list-product a {
    color: #bdbdbd;
    text-transform: uppercase;
    width: 80px;
    padding-left: 40px;
    padding-right: 41px;
}

.list-product i.fa.fa-angle-right {
    float: right;
    margin-top: -5px;
}

.list-product a.feature {border-left: 1px solid #e7e7e7;border-right: 1px solid #e7e7e7;}

.list-product,.special_products {
    margin-left: 20px;
    border: 1px solid #e6e6e6;
    width: 830px;
}

.special_products .product_1 {
    display: flex;
    margin-bottom: 20px;
}

.our-brands {
    margin-top: 32px;
    text-align: center;
    padding: 0 17px!important;
}

.our-brands .brands .brand {
    display: flex;
}

i.fa.fa-angle-left, i.fa.fa-angle-right {
    padding: 7px 10px;
    border: 1px solid #e1e1e1;
    margin-top: 7px;
    margin-bottom: 30px;
    color: #787878;
}

.testimonials span {
    color: #cbcbcb;
}

.testimonials h5.name {
    text-transform: uppercase;
    color: #393939;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
}

.testimonials p {color: #3d3d3d;}

.testimonials {
    text-align: center;
}

.products img.sale {
    margin: 32px 0;
}

.product_1 .info-pro img {
    height: 29px;
    margin-top: -17px;
    margin-left: -5px;
}

.product_1 .info-pro {
    margin-top: -7px;
}

.info-pro p.price {
    font-weight: bold;
    margin-top: -7px;
}

.info-pro h4 {
    color: #c3c3c3;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 15px;
}

.product_1 img {
    width: 80px;
    height: 96px;
    margin-right: 16px;
}

.top-rated h4:after {content: "";width: 100%;height: 1px;color: #bfbfbf;bottom: 10px;left: 0px;}

.top-rated>h4, .testimonials>h4, .our-brands>h4 {
    text-align: center;
    text-transform: uppercase;
    color: #3f3f3f;
    font-weight: bold;
    padding-top: 15px;
    margin-bottom: 20px;
}

.products-top .product_1 {
    display: flex;
    margin-bottom: 22px;
}

.top-rated, .testimonials, .our-brands {
    width: 270px;
    padding: 0 20px;
    border: 1px solid #dfdfdf;
}

.intro-view img {
    width: 100%;
    height: 600px;
}

.navigation ul.nav-right li:hover a {
    color: #4cbba8;
    text-decoration: none;
}

.navigation ul.nav-right li i {
    padding-left: 5px;
}

.navigation ul.nav-right li a {
    color: #2a2a2a;
}

.navigation ul.nav-right li {
    padding-left: 49px;
    list-style: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.navigation .nav-right {
    display: flex;
}

.navigation .nav-left i {
    padding-right: 25px;
}

.navigation .nav-left {
    height: 50px;
    padding: 0 30px;
    background: #40bea8;
    color: #dfffff;
    margin-top: -1px;
}

.search-box i {
    float: right;
    padding-top: 3px;
    margin-right: 10px;
}

.search-box {
    width: 178px;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding-top: 13px;
    padding-left: 17px;
    color: #404040;
}

.info-search .search input {
    border: none;
    margin-top: 13px;
    color: #cfcfcf;
    margin-left: 15px;
}

.info-search .search {
    width: 341px;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

i.fas.fa-search {
    float : right;
    margin-top: 15px;
    margin-right: 20px;
    color: #cccccc;
}

.shopping-cart i {
    padding: 16px;
    border-top: 1px solid #40bea8;
    border-left: 1px solid #40bea8;
    border-bottom: 1px solid #40bea8;
    margin-right: -4px;
    background : #40bea8;
    color : #fff;
}

.shopping-cart span {
    padding: 13px;
    border: 2px solid #3fbda7;
    font-family: Myriad Pro;
    color: #4a4a4a;
}

.shopping-cart {
    margin-left: 11px;
}

.title-shop {
    line-height: 90px;
    margin-left: -13px;
}

.info-search {margin-top: 25px;}

.choose-language ul li {
    list-style: none;
    padding-left: 40px;
}

.info-contact i {
    padding-right: 10px;
}

.info-contact .email {
    padding-right: 40px;
}

.back-to-top {
    width: 50px;
    height: 50px;
    background: rgb(0,0,0,0.7);
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 20px;
    margin-left: -25px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.back-to-top.appear{
    visibility: visible;
    opacity: 1;
}

.fixed-menu{
    animation: 0.4s;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    box-shadow: 2px 5px 5px rgb(0,0,0,0.35);
}